backend/.mvn/
backend/imoveis.json
backend/target/
.idea/
scraper/venv/
.vscode/
__pycache__/
*.pyc
busca-imoveis.pem
backend/src/main/java/pt/buscaimoveis/security/SecurityConfig.java
scraper/export/__pycache__/json_export.cpython-310.pyc
scraper/errors.log
.env
/backend/src/main/java/pt/buscaimoveis/security/
